<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Categories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go to the book list</button>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Categories </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th> Category Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${categoryList == null}">
                    <td colspan="2"> No Categories Available</td>
                </tr>
                <tr th:each="category : ${categoryList}">
                    <td><span th:text="${category.name}"> Name </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>